<script>

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId, platform) {
        var currentValue = parseInt($('.input_qty_' + itemId + '_' + platform).val());
        console.log('itemId=' + itemId + ' platform=' + platform + ' currentValue=' + currentValue);
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $('.decrement-qty_' + itemId + '_' + platform).prop('disabled', minusDisabled);
        $('.increment-qty_' + itemId + '_' + platform).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for (var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        var platform = $(allQtyInputs[i]).data('platform');
        handleEnableDisable(itemId, platform);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function(e) {
        var currentValue = parseInt($(this).val());

        var itemId = $(this).data('item_id');
        var platform = $(this).data('platform');
        $('.input_qty_' + itemId + '_' + platform).val(currentValue);

        handleEnableDisable(itemId, platform);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());

        console.log('currentValue=' + currentValue);

        var itemId = $(this).data('item_id');
        var platform = $(this).data('platform');
        $('.input_qty_' + itemId + '_' + platform).val(currentValue + 1);

        handleEnableDisable(itemId, platform);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());

        var itemId = $(this).data('item_id');
        var platform = $(this).data('platform');
        $('.input_qty_' + itemId + '_' + platform).val(currentValue - 1);

        handleEnableDisable(itemId, platform);
    });
</script> 