<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="puzzle-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Puzzle
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="puzzle-link">
                <a href="" class="dropdown-item">Besiege</a>
                <a href="" class="dropdown-item">Portal</a>
                <a href="" class="dropdown-item">VVVVVV</a>
                <a href="" class="dropdown-item">All Puzzles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="building-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Building
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="building-link">
                <a href="" class="dropdown-item">Banished</a>
                <a href="" class="dropdown-item">Cities: Skylines</a>
                <a href="" class="dropdown-item">Factorio</a>
                <a href="" class="dropdown-item">All Buildings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Don't Starve</a>
                <a href="" class="dropdown-item">Mini Metro</a>
                <a href="" class="dropdown-item">Pixel Piracy</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>